/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky

	fonty:
	font-family: 'Lora', serif;
	font-family: 'Playfair Display', serif;
*/


body {
	margin: 0;
	font-family: 'Lora', serif;
	font-size: 18px;
	line-height: 1.5;
}

.box {
	max-width: 1100px;
	margin: 80px auto;
}

h1,
h2,
h3 {
	font-family: 'Playfair Display', serif;
	line-height: 1.25;
	font-weight: bold;
}

h1 {
	font-size: 52px;
}

h2{
	font-size: 36px;
}

h3 {
	font-size: 18px;
}

.hlavicka {
	margin: 30px auto;
	display: flex;
	justify-content: space-between;
}

.logo {
	width: 170px;
}

.menu {
	display: flex;   
	color: #242424;
}

.menu li {
	padding: 10px 15px ;
	list-style: none;	
}

.menu a {
	color: #303339;
	text-decoration: none;
	padding: 10px 15px;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
	color: white;
	background-color: #d2567d;
	border-radius: 20px;
}

.uvod {
	background-color: #f0f0f0;
	background-image: url(images/cupcake.jpg);
	background-size: cover;
}

.poteseni {
	color: white;
	margin-top: 30px;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.nadpispoteseni {
	flex-basis: 60%;
}

.textpoteseni {
	flex-basis: 60%;
	font-family: 'Lora', serif;
	font-size: 18px;
	font-style: italic;
	padding-bottom: 80px;
	margin: 0;
}

.vitejte {
	display: flex;

}

.levysloupec,
.pravysloupec {
	flex-basis: 50%;
	flex-grow: 1;
}

.levysloupec a {
	padding: 10px 15px;
	margin-top: 50px;
	color: white;
	text-decoration: none;
	background-color: #f195b2;
	border-radius: 30px;
}

.levysloupec a:hover,
.levysloupec a:focus,
.levysloupec a:active {
	color: white;
	background-color: #d2567d;
	border-radius: 30px;
}


.cukrarka {
	padding-left: 30px;
	border-radius: 5px;
	width: 100%;
}

.nabidka {
	background-color: #f0f0f0;
	background-size: cover;
}

.odsazeni{
	padding-top: 80px;
} 

.dnes {
	display: flex;
}

.produkt {
	margin: 15px;
	box-sizing: border-box;
	width: 25%;
	border: 2px solid #f0f0f0;
	border-radius: 5%;
	text-align: center;
}

.produkt img {
	width: 100%;
	border-radius: 5% 5% 0 0;
}

.produkt p {
	padding: 0 20px;
}

.pristup {
	display: flex;	
}

.levysloupec img {	
	border-radius: 5px;
	width: 100%;
	padding-right: 30px;
}

.paticka {
	margin: 30px auto;
	padding: 30px 0;
	text-align: center;
	color: beige;
	background-color: #303339;
	background-size: cover;
}